{# templates/editor/editor_validate_article.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Validate Article{% endblock %}

{% block body %}
    <h2>Validate Article</h2>
    
    <form action="{{ path('editor_validate_article', {'id': article.id}) }}" method="post">
        <p>Are you sure you want to validate "{{ article.title }}"?</p>
        
        <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ article.id) }}">
        <button type="submit" class="btn btn-success">Validate</button>
        <a href="{{ path('editor_dashboard') }}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
